<div class="container-fluid" *ngIf="player">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <h2 class="player-profile-name">
        <!--Player Name<br />-->
        {{ player.firstName }} {{player.lastName}}<br />
        <span class="small" *ngIf="player.zipcodeObj">{{player.zipcodeObj.city}}, {{player.zipcodeObj.state}}</span>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3" *ngIf="player.profilePic; else defaultProfilePic">
      <img class="img-responsive player-profile-pic" src="../../../../assets/images/profile-pics/{{player.profilePic}}">
    </div>
    <ng-template #defaultProfilePic>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
        <img class="img-responsive player-profile-pic" src="../../../../assets/images/default-player-profile-pic.jpg">
      </div>
    </ng-template>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
      <div class="col-xs-12 col-sm-12 col-md-10">
        <div class="row">
          <!--<div class="alert alert-success" role="alert">-->
          <div class="alert-success">
            <label class="col-xs-6 col-sm-5 col-md-4 text-right">Player Ranking:</label>
            <span class="col-xs-6 col-sm-7 col-md-6"><strong>{{player.totalRank}}</strong></span>
          </div>
        </div>
        <div class="row">
          <label class="col-xs-6 col-sm-5 col-md-4 text-right">Age:</label>
          <span class="col-xs-6 col-sm-7 col-md-6">{{player.getAge()}}  {{player.birthday}}</span>
        </div>
        <!--<div class="row">-->
          <!--<label class=v    "col-xs-6 col-sm-5 col-md-4 text-right">Gender:</label>-->
          <!--<span class="col-xs-6 col-sm-7 col-md-6">{{player.g}}</span>-->
        <!--</div>-->
        <div class="row">
          <label class="col-xs-6 col-sm-5 col-md-4 text-right">Height:</label>
          <span class="col-xs-6 col-sm-7 col-md-6">{{player.heightFeet.toString()}}{{player.heightInch.toString()}}</span>
        </div>
        <div class="row">
          <label class="col-xs-6 col-sm-5 col-md-4 text-right">Experience:</label>
          <span class="col-xs-6 col-sm-7 col-md-6">{{player.getExperience()}} years</span>
        </div>
        <div class="row">
          <label class="col-xs-6 col-sm-5 col-md-4 text-right">Restrictions:</label>
          <span class="col-xs-6 col-sm-7 col-md-6">{{player.injuries}}</span>
        </div>
        <div class="row">
          <label class="col-xs-6 col-sm-5 col-md-4 text-right">Point Average:</label>
          <span class="col-xs-6 col-sm-7 col-md-6">{{player.pointAvg}}</span>
        </div>
        <div class="row">
          <label class="col-xs-6 col-sm-5 col-md-4 text-right">Organization:</label>
          <span class="col-xs-6 col-sm-7 col-md-6">SFGBA</span>
        </div>
        <div class="row">
          <label class="col-xs-6 col-sm-5 col-md-4 text-right">About:</label>
          <div class="col-xs-6 col-sm-7 col-md-6">
            <p>
              {{player.about}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <p>&nbsp;</p>
  </div>
</div>
