/*.preloader {*/
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*background-color: #fefefe;*/
  /*z-index: 99999;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*overflow: hidden !important;*/
/*}*/

/*.loaded {*/
  /*width: 60px;*/
  /*height: 60px;*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  /*-moz-background-size: cover;*/
  /*background-size: cover;*/
  /*margin: -20px 0 0 -20px;*/
/*}*/
/*.top-margin {*/
  /*margin-top: 96px;*/
/*}*/

/*.bottom-margin {*/
  /*margin-bottom: 96px;*/
/*}*/

/*img{max-width:100%;}*/

/*p {*/
  /*font: normal 16px "Myriad Pro", arial, sans-serif;*/
/*}*/
/*a:hover{*/
  /*text-decoration:none;*/
/*}*/
/*ul{*/
  /*margin:0;*/
  /*padding:0;*/
  /*list-style:none;*/
/*}*/
/*h1,h2,h3,h4,h5,h6 { color:#585b60;}*/

/*h1 {*/
  /*font-size: 3.5rem;*/
  /*line-height: 50px;*/
  /*font-weight: 600;*/
  /*font-family: "Myriad Pro" , sans-serif;*/
/*}*/

/*h2 {*/
  /*font-size: 2.5rem;*/
  /*line-height: 38px;*/
  /*font-weight: 600;*/
  /*font-family: "Myriad Pro" , sans-serif;*/
  /*margin: 0;*/
/*}*/

/*h3 {*/
  /*font-size: 2rem;*/
  /*line-height: 32px;*/
  /*font-weight: 600;*/
  /*font-family: "Myriad Pro" , sans-serif;*/
  /*margin: 0;*/
/*}*/


/*h4 {*/
  /*font-size: 2.7rem;*/
  /*line-height: 26px;*/
  /*font-weight: 600;*/
  /*font-family: "Myriad Pro" , sans-serif;*/
/*}*/
/*h5{*/
  /*font-size: 3rem;*/
  /*line-height: 30px;*/
  /*font-weight: 600;*/
  /*font-family: "Myriad Pro" , sans-serif;*/
/*}*/

/*h6 {*/
  /*font-size: 1.7rem;*/
  /*line-height: 20px;*/
  /*font-weight: 600;*/
  /*font-family: "Myriad Pro" , sans-serif;*/
  /*margin: 0;*/
  /*text-decoration: none;*/
/*}*/
/*section:nth-of-type(odd) {*/
  /*background-color: #F9F9F9;*/
/*}*/

/*.btn {*/
  /*border: 1px solid #fff;*/
  /*border-radius: 50px;*/
  /*display: inline-block;*/
  /*min-width: 214px;*/
  /*padding: .9em;*/
  /*height: 50px;*/
  /*text-align: center;*/
  /*color: #fff;*/
  /*font-style: normal;*/
  /*text-transform: uppercase;*/
  /*letter-spacing: 1px;*/
  /*margin-left: 5px;*/
  /*font-size: 16px;*/
  /*font-weight: 300;*/
  /*transition: .5s;*/
  /*margin-bottom: 10px;*/
/*}*/

/*.btn:hover {*/
  /*background-color: #e0356e;*/
  /*color: #fff;*/
  /*text-decoration: none;*/
/*}*/
/*.center-content {*/
  /*text-align: center;*/
/*}*/
/*p.description {*/
  /*width: 70%;*/
  /*margin: 0 auto;*/
  /*padding-top: 24px;*/
  /*padding-bottom: 48px;*/
/*}*/

/*.white-btn{*/
  /*max-width: 250px;*/
  /*max-height: 50px;*/
  /*border-radius: 50px;*/
  /*background: #fff;*/
  /*color: #585b60;*/
/*}*/

/*.white-btn:hover{*/
  /*background: #e0356e;*/
  /*color: #fff;*/
  /*text-decoration:none;*/
/*}*/

/*.pink-btn {*/
  /*background: #e0356e;*/
  /*border: none;*/
  /*margin-left: 10px;*/
/*}*/

/*.pink-btn:hover {*/

  /*background-color: #f79b23;*/
  /*color: #fff;*/
  /*text-decoration: none;*/
/*}*/
/*.btn-sm{*/
  /*width: 160px;*/
  /*height: 38px;*/
  /*background: #FF3366;*/
  /*color: #fff;*/
  /*font-size: 18px;*/
  /*display: inline-block;*/
  /*text-align: center;*/
  /*padding: 6px;*/
  /*text-transform: uppercase;*/
  /*border-radius: 5px;*/
  /*margin-top: 25px;*/
/*}*/

/*.btn-sm:hover{*/
  /*text-decoration:none;*/
  /*color:#fff;*/
/*}*/


/* bannar Section CSS */
.header-image{
  padding-top:180px;
}
#bennar{
  position:relative;
}

#bgimage {
  background-image: url(../../../assets/images/basketballbckrd.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
  border: rgb(0,0,0) 1px solid;
}
.heading-text{
  padding-top:120px;
}
.heading-text .button a i{
  border: 1px solid #585b60;
  padding: 6px 7px;
  color: #585b60;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}
.heading-text .button a:hover i{
  border: 1px solid #fff;
  color: #000;
}
.heading-text h1{
  color: #1b456b;
}
p.bannerDescription{
  color: #1b456b;
  font-size: 1.8rem;
  margin-bottom: 65px;
  line-height: 30px;

}
