<div class="container-fluid" *ngIf="selectedOrg; else nothingSelected">
  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
      <div class="thumbnail" *ngIf="selectedOrg.logo; else defaultPicture">
        <img class="img-responsive" src="../../../../assets/images/logos/{{selectedOrg.logo}}">
      </div>

      <ng-template #defaultPicture>
        <div class="thumbnail">
          <img class="img-responsive" src="../../../../assets/images/logos/default-profile-picture.png">
        </div>
      </ng-template>

    </div>

    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
      <h4 class="org-name-mini-detail">{{selectedOrg.name}}</h4>
      <i class="fa fa-fw fa-map-marker"></i> {{selectedOrg.street}}<br />
      <i class="fa fa-fw"></i> {{selectedOrg.zipcodeObj.city}}, {{selectedOrg.zipcodeObj.state}} {{selectedOrg.zipcodeObj.zip}}<br />
      <i class="fa fa-fw fa-globe"></i> <a href="{{selectedOrg.website}}">{{selectedOrg.website}}</a><br />
      <i class="fa fa-fw fa-envelope"></i> <a href="mailto:{{selectedOrg.email}}">{{selectedOrg.email}}</a><br />
      <i class="fa fa-fw fa-arrows-alt glyphicon-barcode"></i> <a routerLink="./{{selectedOrg.id}}">more info</a>
    </div>
  </div>
</div>

<ng-template #nothingSelected>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        To find an organization to play with, search with your zip on the left.
      </div>
    </div>
  </div>
</ng-template>
