<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="text-center">
        <h2 id="org-page-head">Organizations</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
      <app-org-search (selectedOrg)="selectedOrgUpdate($event)" (selected)="passOnOrg()"></app-org-search>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
      <app-org-mini-detail [selectedOrg]="selectedOrg"></app-org-mini-detail>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">-->
      <!--<ul *ngIf="allOrgs">-->
        <!--<li *ngFor="let org of allOrgs">-->
          <!--{{org.name}} {{org.id}}-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">-->
      <!--<div *ngIf="oneOrg">-->
        <!--{{oneOrg.name }} {{oneOrg.id}}-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
